/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: grey;
    font-weight: bold;
}
body{
    font-family: Montserrat;
}
h2{
    color: white;
    font-size: 1rem;
    padding: 10px;
}
h1{
    text-align: start;
    font-weight: bolder;
    color: white;
    font-size: 2rem;
    margin: 50px 0 20px;
}
img{
    max-width: 100%;
}
.p-rl{
    padding-left: 1rem;
    padding-right: 1rem;
}
/* HEADER */
header{
    height: 80px;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

/* MAIN */
main{
    display: flex;
}
.main-menu{
    width: 100%;
    text-align: center;
}
nav li{
    list-style-type: none;
    display: inline-block;
    padding: 15px 5px;
}


nav{
    background-color: #141922;
    display: flex;
}
.card{
    flex-basis: 50%;
    padding: 5px;
}

.box-container{
    display: flex;
    flex-wrap: wrap;
}

.container{
    background-color: #141922;
    overflow: auto;
    height: calc(100vh - 80px);
}
sub, .sub{
    color: gray;
    font-weight: bold;
}
 .sub{
    text-align: start;
    padding-bottom: 30px;
}

 /* SIDE-BAR */
 .side-bar{
    width: 10%;
    background-color: black;
    text-align: center;
    padding-top: 5px;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
 }
#icona{
    filter: invert();
    margin-bottom: 10PX;
 }
 #logo{
    display: none;
 }
.side-bar i{
    color: #d2d2d2;
    margin: 20px 0;
    padding-right: 5px;
    
}
span{
    display: none;
}
.playlist{
    display: none;
    margin-top: 15PX;
    font-weight: bold;
    color: gray;
}
.add-box{
    height: 50px;
    width: 50px;
    background-color: gray;
    font-size: 3rem;
    color: black;
    text-align: center;
    line-height: 50px;
    display: inline;
    margin-right: 10px;
}

.row-addplaylist{
    display: flex;
    align-items: center;
}
.row{
    margin: 20px 0;
}

/* FOOTER */
footer{
    height: 80px;
    background-color: #282828;
    display: flex;
}

/* RESPONSIVE TABLET*/
@media screen and (min-width: 768px){
    #icona{
        display: none;
    }
    #logo{
        display: block;
        height: 3rem;
        padding-left: 15px;
        margin-bottom: 20px;
    }
    .side-bar{
        width: 300px;
        padding-top: 20px;
        text-align: start;
    }
    .sidebar-nav > div, .sidebar-profile{
        padding-left: 15px;
    }
    span{
        display: inline-block;
    }
    .playlist{
        display: inline-block;
    }
}
/* RESPONSIVE LAPTOP */
@media screen and (min-width: 992px){
.card{
    flex-basis: 25%;
}
}