/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: grey;
    font-weight: bold;
}
body{
    font-family: Montserrat;
}
h2{
    color: white;
    font-size: 1rem;
    padding: 10px;
}
h1{
    text-align: start;
    font-weight: bolder;
    color: white;
    font-size: 2rem;
    margin: 50px 0 20px;
}
img{
    max-width: 100%;
}
.p-rl{
    padding-left: 1rem;
    padding-right: 1rem;
}
.p-rl-xs{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
/* HEADER */
header{
    height: 80px;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}
.btn{
    border:  1px solid white;
    border-radius: 30px;
    padding: 10px 30px;
}
.btn a{
    color: white;
}

/* MAIN */
main{
    display: flex;
}
.main-menu{
    width: 100%;
    text-align: center;
}
nav li {
    list-style-type: none;
    display: inline-block;
    padding: 15px 10px;
}

li a:hover{
    text-decoration: underline 3PX  greenyellow  ;
}


nav{
    background-color: #141922;
    display: flex;
    justify-content: center;
}
.card{
    flex-basis: 50%;
    padding: 5px;
}

.box-container{
    display: flex;
    flex-wrap: wrap;
}

.container{
    background-color: #141922;
    overflow: auto;
    height: calc(100vh - 80px);
}
sub, .sub{
    color: gray;
    font-weight: bold;
}
 .sub{
    text-align: start;
    padding-bottom: 30px;
}

 /* SIDE-BAR */
 .side-bar{
    width: 10%;
    background-color: black;
    text-align: center;
    padding-top: 5px;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
 }
#icona{
    filter: invert();
    margin-bottom: 10PX;
 }
 #logo{
    display: none;
 }
.side-bar i{
    color: #d2d2d2;
    margin: 20px 0;
    padding-right: 5px;
    width: 35px;
}
span{
    display: none;
}
.playlist{
    display: none;
    margin-top: 15PX;
    font-weight: bold;
    color: gray;
}
.add-box{
    height: 50px;
    width: 50px;
    background-color: gray;
    font-size: 3rem;
    color: black;
    text-align: center;
    line-height: 50px;
    display: inline;
    margin-right: 10px;
}

.row-addplaylist{
    display: flex;
    align-items: center;
}
.row{
    margin: 20px 0;
}
.profile span{
    color: white;
}

/* FOOTER */
footer{
    height: 80px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.song{
    flex-basis: 25%;
    display: flex;
    align-items: center;
}
.song-desc{
    flex-grow: 1;
}
.song-current > img{
    width: 40px;
}
.song-desc sub{
    display: block;
}
.song-desc h2, .song-desc sub{
    padding:0 0 0 5px;
    font-size: 0.8rem;
}
.liked i{
    color: gray;

}
.liked a{
    display: block;
    padding-bottom: 5px;
}
.player-btn i{
    color: white;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.tracker{
    display: flex;
    align-items: center;
    color: white;
    font-size: 0.8rem;
}
.tracker-line{
    border: 1px solid gray;
    height: 5px;
    border-radius: 10px;
    margin: 0px 5px 0px 5px;
    width: 25vw;
    background-color: gray;
    display: flex;
    align-items: center;
}
.progression-bar{
    width: 20%;
    border: 2px solid white;
    border-radius: 10px;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
}
.volume{
    display: flex;
    align-items: center;
    flex-basis: 25%;
    color: white;
}
.volume .tracker-line{
    width: 15vw;
}
.volume i {
    padding-right: 10px;
}


/* RESPONSIVE TABLET*/
@media screen and (min-width: 768px){
    #icona{
        display: none;
    }
    #logo{
        display: block;
        height: 3rem;
        padding-left: 15px;
        margin-bottom: 20px;
    }
    .side-bar{
        width: 300px;
        padding-top: 20px;
        text-align: start;
    }
    .sidebar-nav > div, .sidebar-profile{
        padding-left: 15px;
    }
    span{
        display: inline-block;
    }
    .playlist{
        display: inline-block;
    }
    .profile{
        border-top: 1px solid gray;
        width: 90%;
    }
    
}
/* RESPONSIVE LAPTOP */
@media screen and (min-width: 992px){
.card{
    flex-basis: 25%;
}
.song{
    flex-basis: 20%;
}
.liked a{
    display: inline;
}
}